<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692760674487-n2b1gd8sk1jk1mafri6igrn52jjg16nd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692760674487-n2b1gd8sk1jk1mafri6igrn52jjg16nd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>692760674487-bs1mr096r2qcnutc2gmvepevoj79oga1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRvNrJjgp9dFFlohtjRm18GJzEEUpVGdY</string>
	<key>GCM_SENDER_ID</key>
	<string>692760674487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.omnisense</string>
	<key>PROJECT_ID</key>
	<string>omnisense-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>omnisense-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692760674487:ios:309236440c13656db9cd32</string>
</dict>
</plist>